<h3> Supervisor Interface </h3>

<div>
  <span>Asset Id:</span>
  <input type="" class="" id="" [(ngModel)]="assetId" name="assetId">
</div>

<div>
  <span>Public Key:</span>
  <input type="" class="" id="" [(ngModel)]="pubKey" name="assetId">
</div>

<div>
  <span>Employee:</span>
  <input type="" class="" id="" [(ngModel)]="employee" name="assetId">
</div>

<div>
  <span>Date:</span>
  <input type="" class="" id="" [(ngModel)]="date" name="assetId">
</div>

<div>
<button (click)="approveTimecard()">
  Approve
</button>
<button (click)="rejectTimecard()">
  Reject
</button>
</div>
