<div>
  <div>
    <span>Employee Name:</span>
    <input type="" class="" id="" [(ngModel)]="name" name="pubKey">
  </div>

  <div>
    <span>Employee Public Key:</span>
    <input type="" class="" id="" [(ngModel)]="pubKey" name="pubKey">
  </div>

  <div>
    <span>Supervisor Public Key:</span>
    <input type="" class="" id="" [(ngModel)]="supervisorPubKey" name="supervisor">
  </div>

  <div>
    <span>Dollars Per Hour:</span>
    <input type="" class="" id="" [(ngModel)]="dollarsPerHour" name="dollars_per_hour">
  </div>

  <button (click)="createEmployee()">
    Create Employee
  </button>
</div>
